/* ====================== GOOGLE FONTS ====================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ====================== VARIABLES ====================== */
:root {
  /* ========== Font Family ========== */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Noto Sans", sans-serif;

  /* ========== Font Scale ========== */
  --font-size-xxs: 0.75rem;
  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.5rem;

  /* ========== Font Use Case ========== */
  --font-size-logo: var(--font-size-xl);
  --font-size-nav: var(--font-size-sm);
  --font-size-search-input: var(--font-size-xs);

  --font-size-banner: var(--font-size-xxl);

  --font-size-recommendation-title: var(--font-size-lg);
  --font-size-card-title: var(--font-size-xs);
  --font-size-card-price: var(--font-size-sm);
  --font-size-card-desc: var(--font-size-xxs);

  --font-size-product-detail-title: var(--font-size-lg);
  --font-size-product-detail-price: var(--font-size-xl);
  --font-size-product-detail-label: var(--font-size-sm);
  --font-size-product-detail-desc: var(--font-size-xs);

  --font-size-preview-profile-name: var(--font-size-md);
  --font-size-preview-profile-active: var(--font-size-xs);
  --font-size-preview-profile-button: var(--font-size-xs);
  --font-size-preview-profile-stats: var(--font-size-sm);

  /* ========== Colors ========== */
  --color-accent: #990000;
  --color-accent-hover-bg: hsl(0, 100%, 25%);

  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f5f5f5;
  --color-bg-hover: #f2f2f2;

  --color-text-primary: #222222;
  --color-text-secondary: #757575;
  --color-text-inverse: #ffffff;

  --color-border-light: #f2f2f2;
  --color-border-dark: #757575;
}

/* ====================== GENERAL ====================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

body {
  margin-top: 7rem;
  height: 100%;
  background-color: var(--color-bg-primary);
}

.container {
  width: 70%;
  margin: 0 auto;
  /* background-color: aqua; */
}

