/* ==================== PRODUCT DETAIL ==================== */
.product-detail {
    display: flex;
    height: 30rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

/* ========== Detail Image ========== */
.detail-image {
    position: relative;
    width: 30%;
}

.detail-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* ========== Detail Info ========== */
.detail-info {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 1rem 2rem 0rem 2rem;
}

.detail-info .title {
    margin-bottom: 1rem;
    font-size: var(--font-size-product-detail-title);
    color: var(--color-text-primary);
}

.detail-info .price {
    margin-bottom: 2rem;
    font-size: var(--font-size-product-detail-price);
    color: var(--color-accent);
}

.detail-info .info-meta {
    display: flex;
    gap: 10rem;
}

.detail-info .label {
    margin-bottom: 0.2rem;
    font-weight: 600;
    font-size: var(--font-size-product-detail-label);
    color: var(--color-text-primary) ;
}

.detail-info p {
    font-weight: 400;
    font-size: var(--font-size-product-detail-p);
    color: var(--color-text-primary);
}

.detail-info .deskripsi {
    margin-top: 2rem;
    text-align: justify;
}

/* ==================== SELLER PREVIEW ==================== */
.seller-preview {
    display: flex;
    align-items: stretch;
    padding: 2rem;
    gap: 2rem;
    border-radius: 5px;
    border: 1px solid var(--color-border-light);
    background-color: var(--color-bg-secondary);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
}

/* ========== Left: Profile Preview ========== */
.seller-preview .seller-left {
    display: flex;
    align-items: center;
    flex: 1;
}

.preview-profile {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.preview-profile .profile-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--color-border-dark);
}

.preview-profile .seller-details {
    display: flex;
    flex-direction: column;
}

.preview-profile .seller-name {
    font-weight: 600;
    font-size: var(--font-size-preview-profile-name);
    color: var(--color-text-primary);
}

.preview-profile .last-active {
    font-size: var(--font-size-preview-profile-active) ;
    color: var(--color-text-secondary);
}

.preview-profile .chat-btn {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid var(--color-accent);
    font-weight: 500;
    font-size: var(--font-size-preview-profile-button);
    color: var(--color-text-inverse);
    background-color: var(--color-accent);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.preview-profile .chat-btn:hover {
    color: var(--color-accent);
    background-color: var(--color-bg-primary);
}

/* ========== Vertical Line ========== */
.seller-preview .vertical-line {
    width: 1px;
    height: auto;
    opacity: 0.2;
    background-color: var(--color-border-dark);
}

/* ========== Right: Seller Stats ========== */
.seller-preview .seller-right {
    flex: 2;
}

.seller-preview .seller-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 2rem;
}

.seller-preview .seller-stats .label {
    font-size: var(--font-size-preview-profile-stats);
    color: var(--color-text-secondary);
    margin-bottom: 0.3rem;
}

.seller-preview .seller-stats .value {
    font-weight: 600;
    font-size: var(--font-size-preview-profile-stats);
    color: var(--color-accent);
}
