/* ====================== PROMO BANNER ====================== */
.promo-banner {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-secondary);
  z-index: 99;
}

.promo-text {
  font-size: var(--font-size-banner);
  font-weight: 700;
  color: var(--color-accent);
}
