/* =======================================================
   RECOMMENDATION SECTION
======================================================= */
.rec-recommendation {
  margin: 3rem 0 2rem 0;
  text-align: center;
}

.rec-recommendation h3 {
  display: inline-block;
  margin-bottom: 2rem;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: var(--font-size-recommendation-title);
  color: var(--color-accent);
  border-bottom: 2px solid var(--color-accent);
}

/* ---------------- Grid ---------------- */
.rec-recommendation-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 2rem 1rem;
}

/* ---------------- Card ---------------- */
.rec-recommendation-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 19rem;
  border-radius: 5px;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.rec-recommendation-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  transform: translateY(-5px);
}

.rec-recommendation-image {
  width: 100%;
  height: 65%;
  object-fit: cover;
  border-radius: 5px;
}

/* ---------------- Info ---------------- */
.rec-recommendation-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.3rem;
  height: 35%;
  text-align: left;
  gap: 0.2rem;
}

.rec-title {
  font-size: var(--font-size-card-title);
  font-weight: 500;
  color: var(--color-text-primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rec-price {
  font-size: var(--font-size-card-price);
  font-weight: 700;
  color: var(--color-accent);
}

.rec-desc,
.rec-location {
  font-size: var(--font-size-card-desc);
  color: var(--color-text-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ==================== LOAD MORE ==================== */
.rec-load-more {
  text-align: center;
  margin-top: 1rem;
}

.rec-load-more button {
  padding: 1rem 2rem;
  border: 1px solid var(--color-accent);
  border-radius: 5px;
  background: none;
  font-weight: 700;
  font-size: var(--font-sm);
  color: var(--color-accent);
  cursor: pointer;
  transition: all 0.3s ease;
}

.rec-load-more button:hover {
  color: var(--color-text-inverse);
  background: var(--color-accent)
}
